body {
  cursor: url('/pizza.png'), default;
  width: 100vw;
  height: 100vh;
}

.hello-1 {
  color: #8ce8f1;
}

.hello-2 {
  color: #81e3f7;
}

.hello-3 {
  color: #7bddfc;
}

.hello-4 {
  color: #79d6ff;
}

.hello-5 {
  color: #7dcfff;
}

.hello-6 {
  color: #86c6ff;
}

.hello-7 {
  color: #93beff;
}

.hello-8 {
  color: #a2b4fe;
}

.hello-9 {
  color: #b2aaf7;
}

.hello-10 {
  color: #c19fec;
}

pre {
  margin: 0;
}
